<%- include('./src/header'); %> 
<%- include('./src/headerbar'); %>
<div id="content" class="main-content">
  <!--<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
    <div class="card component-card_1">
      <div class="card-body">
          <div class="icon-svg">
              <svg> ... </svg>
          </div>
          <h6 class="card-user_name">Toplam Kullanıcı Sayısı</h6>
          <h4 class="card-title">10</h4>
      </div>
  </div>
  <div class="card component-card_1">
    <div class="card-body">
        <div class="icon-svg">
            <svg> ... </svg>
        </div>
        <h6 class="card-user_name">Görev İstekleri</h6>
        <h4 class="card-title">10</h4>
    </div>
</div>
<div class="card component-card_1">
  <div class="card-body">
      <div class="icon-svg">
          <svg> ... </svg>
      </div>
      <h6 class="card-user_name">Ödül İstekleri</h6>
      <h4 class="card-title">10</h4>
  </div>
</div>
<div class="card component-card_1">
  <div class="card-body">
      <div class="icon-svg">
          <svg> ... </svg>
      </div>
      <h6 class="card-user_name">Destek Talepleri</h6>
      <h4 class="card-title">10</h4>
  </div>
</div>
    </div>-->

<%- include('./src/footer'); %>
  </div>
</div>
